<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode"
           path="backend/server.js"
           verb="*"
           modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="StudyHubNodeServer">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}"
                 matchType="IsFile"
                 negate="True" />
          </conditions>
          <action type="Rewrite" url="backend/server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration>
